# LGT3109 Tutorial 2 Report

#### Input your name and student ID in the cell below (<font color='red'>if a cell is not in edit mode, double click it</font>):

<div class="alert alert-info">
    
Your name: Dai Cijun

Your student ID: 22102054d
    
</div>

**Instructions for the report**:
* Open Anaconda Navigator, and launch Python IDLE through Anaconda Navigation.
* Refer to Section 3.1 of the tutorial book and open tutorial 2 report.
* Follow Section 4 of the tutorial book to save the report and zip the report folder. The zip file is named as LGT3109T2Report{your student_id}.zip (e.g., if student_id is 12345678d, then the zip file's name is LGT3109T2Report12345678d.zip). <font color='red'>The zip file needs to include the following files:
    * an .ipynb file of this tutorial report    
    * image files of screenshots captured and used in this tutorial report    
    </font>
* Submit the zip file of the report folder in the blackboard. The submission due date is **<font color='red'>16 Sep 2025</font>**

### Part 1 Values and Expressions

#### 1.1. Execute the code below, explain the errors received, and discuss how to fix the errors (20 points):

In [8]:
school = 'Hong Kong Polytechnic University

SyntaxError: unterminated string literal (detected at line 1) (4130059916.py, line 1)

<font color='red'>*Edit this cell to explain errors received from the code above, and discuss how to fix the errors:*</font>

Cause: Unusing the backquotes at the end

Correct: Add the backquotes at the end: 'Hong Kong Polytechnic University'

In [9]:
age = 0030

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1726150077.py, line 1)

<font color='red'>*Edit this cell to explain errors received from the code above, and discuss how to fix the errors:*</font>


Cause: Cannot start with "0" in decimal integer literals.

Correct: age = 30

#### 1.2. Execute the expression below, and explain its order of evaluation (10 point):

In [10]:
10**2/(10 + 10)

5.0

<font color='red'>*Edit this cell to explain the order of evaluation for the expression above:*</font>  
10**2 = 100, then 10 + 10 = 20, then 100/20 = 5.0

### Part 2 Variables

#### 2.1. Execute the code below, explain the errors received, and discuss how to fix the errors (20 points):

In [11]:
3rd_choice = 'nike'

SyntaxError: invalid decimal literal (3650209320.py, line 1)

<font color='red'>*Edit this cell to explain the error and how to fix the error:*</font>

Cause: Cannot name a variable start with a number.

Correct: choice_3rd = 'nike'

In [12]:
class = 'Python Coding'

SyntaxError: invalid syntax (1895751512.py, line 1)

<font color='red'>*Edit this cell to explain the error and how to fix the error:*</font>

Cause: Cannot use reserved words as variable names.

Correct: this_class = 'Python Coding'

In [13]:
teacher@LGT3109 = 'Xiaoyu Wang'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3665062231.py, line 1)

<font color='red'>*Edit this cell to explain the error and how to fix the error:*</font>  
Cannot use special characters in variable names. To fix the error, remove the "@" character.

In [14]:
my.age = 20

NameError: name 'my' is not defined

<font color='red'>*Edit this cell to explain the error and how to fix the error:*</font>  
Cannot use "." in variable names. To fix the error, remove the "." character.

### Part 3 Types

#### 3.1.Use type() to write a code to show the types of the following variables x,y,z (10 points):

In [1]:
x='two'
y=2.0
z=2

In [3]:
#Edit this cell, use type() to write your code below:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'float'>
<class 'int'>

#### 3.2. Execute the code below, explain the errors received, and show how to fix the errors by using type conversion (10 points):

In [4]:
total_quantity = input('How many books are you going to buy? ')
unit_price = input('What is  the unit price of the book? ')
total_payment = unit_price * total_quantity
print('You need to pay ' + total_payment)

TypeError: can't multiply sequence by non-int of type 'str'

<font color='red'>*Edit this cell to explain the errors received:*</font>
Cannot multiply str to str.

In [ ]:
#Edit this cell to revise the above code by correcting the errors:
total_quantity = int(input('How many books are you going to buy? '))
unit_price = float(input('What is  the unit price of the book? '))
total_payment = str(unit_price * total_quantity)
print(f'You need to pay + {total_payment}')

You need to pay + 100.0

### Part 4 Assignment, Input, and Print Statements

#### 4.1. When executing the code below line by line, explain how the variables change their values (10 points):

In [7]:
x = 1.5
y = 20
z = x*y
x = z
y = '15'

<font color='red'>*Edit this cell to explain how variables change their values:*</font>

After executing 1st line: x=1.5

After executing 2nd line: x=1.5, y=20

After executing 3rd line: x=1.5, y=20, z=30.0

After executing 4th line: x=30.0, y=20, z=30.0

After executing 5th line: x=30.0, y= '15', z=30.0

#### 4.2. Write a program to prompt the user for days of overdue and fine rate per day to compute total overdue fine (20 points).

Sample Input

    Enter days of overdue: 5 
    Enter fine rate per day: 4.5 
   
Sample Output

    Total overdue fine: 22.5

In [13]:
#(1)Edit this cell to write your program:
#input: input1 = int(input("Enter days of overdue: ")
# input2 = float(input("Enter fine rate per day: "))

#process: x = input1 * input2

#ouptut: print(f'Enter days of overdue: {input1}')
# print(f'Enter fine rate per day: {input2}')
# print(f'Total overdue fine:{x}')

<font color="red">*(2) Edit this cell to explain what variables are used, what types they are, and what they are used for.*</font>  
### Variables used:  
input1: integer, used to present days of overdue  
input2: float, used to present fine rate per day  
x: float, used to present total overdue fine

<font color='red'>*(3) Use Python IDLE (or Spyder) to execute and test your code above for various inputs. Edit this cell to insert screenshots of your tests:*</font>

![Screenshot Test](Screenshot%20Test.png)